<div >
    <h2>Edit Post</h2>
    <form action="?controller=Post&action=addPostAction" enctype="multipart/form-data" method="POST">
        <p id="error"></p>
        <label for="postTitle">Title: </label>
        <input name="postTitle" type="text" id="postTitle" value="{{postTitle}}">

        <textarea id="postText" name="postText" value="{{postText}}">
        </textarea>

        <input type="file" name="pictures[]" multiple>


        <input name="postId" type="hidden" id="postId" value="{{postId}}">
        <input class="button" type="submit" class="btn" value="submit">
    </form>

    <script type="text/javascript">
        window.setTimeout(loadDefaultTinyMCEContent,1000);
       function loadDefaultTinyMCEContent(){
           tinyMCE.activeEditor.setContent('{{postText}}');
       }
    </script>
</div>