<div>
    <h2>Login</h2>
    <form action="?controller=Login&action=checkUserAction" method="post">
        <label for="username">Username: </label>
        <input name="username" type="text" id="username"><br>

        <label for="password">Password: </label>
        <input name="password" type="password" id="password"><br>

        <input class="button" type="submit" class="btn" value="Login">
    </form>
</div>

<p id="errors">{{error}}</p>
<p>You don't have a Travelling I Account yet? <a href="/travel/travel/Source%20Files/src/index.php?controller=SignUp&action=signUpAction">Sign up here...</a></p>