<div>
    <h2>Login</h2>
    <form action="{{rootpath}}Source Files/src/controller/LoginController.php" method="post">
        <label for="username">Username: </label>
            <input type="text" name="username" id="username">

        <label for="password">Password: </label>
            <input type="password" name="password" id="password">

        <p>You don't have a Travelling I Account yet? <a href="{{rootpath}}Source Files/src/controller/SignUpController.php">Sign up here...</a> </p>

        <input type="button" value="Login" onclick="checkPassword()">
    </form>
</div>