<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script type='text/javascript' src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>

    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Latitude', 'Longitude', 'Postname'],
                //TODO: change to postarray
                [37.4232, -122.0853, 'San Francisco 2017']
            ]);

            var options = { displayMode: 'markers'
                //TODO: change icon
                /*icons: {
                default: {
                    chst=d_map_pin_letter,
                    chld=,000000,000000
                }
                }
                */
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);

            google.visualization.events.addListener(chart, 'select', selectHandler);

            function selectHandler(e) {
                //TODO: get postItem
                alert('Change to post.');
            }
        }
    </script>

</head>
<body>

</body>
</html>