<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script type='text/javascript' src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div id="floating-panel">
    <input id="address" type="textbox">
    <input id="submit" type="button" class="btn" value="Add Location to Map">
</div>
<div id="regions_div" style="width: 900px; height: 500px;"></div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHA1629CrTs4pS1Z_QfxxdCoPzP6gul18&callback=initMap">
</script>
<script>
    var results = [];

    google.charts.load('current', {
        'packages': ['geochart'],
    });

    google.charts.setOnLoadCallback(drawRegionsMap);

    /**
     * drawing the geochart map
     */
    function drawRegionsMap() {
        setTimeout(function () {
            console.log(results);

            var data = google.visualization.arrayToDataTable(results);

            var options = {
                markerOpacity: 0.5,
                hAxis: {minValue: 3, maxValue: 3},
                pointSize: 3
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
            chart.draw(data, options);
            google.visualization.events.addListener(chart, 'select', selectHandler);

            function selectHandler(e) {
                jQuery('#dialog').dialog('open');
            }
        }, 500);
    }

    /**
     * add geocoding api call
     */
    function initMap() {
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function () {
            geocodeAddress(geocoder);
        });
    }

    /**
     * geocode provided address
     *
     * @param geocoder
     */
    function geocodeAddress(geocoder) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function (results, status) {
            if (status === 'OK') {
                addLocation(results[0].geometry.location.lat(), results[0].geometry.location.lng(), address);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function reqListener() {
        console.log(this.responseText);
    }

    /**
     * ajax call to get location data for user
     * @type {XMLHttpRequest}
     */
    var oReq = new XMLHttpRequest();
    oReq.onload = function () {
        results.push(['Latitude', 'Longitude', 'Locationname']);
        var obj = JSON.parse(this.responseText);

        var arrayLength = obj.length;
        for (var i = 0; i < arrayLength; i++) {
            var result = [parseFloat(obj[i]['location'][0]['latitude']), parseFloat(obj[i]['location'][0]['longitude']),
                obj[i]['location'][0]['name']];
            results.push(result);
        }
    };
    oReq.open("post", "/travel/travel/Source%20Files/src/DirectCall/getLocationData.php", true);
    oReq.send();

    /**
     * add location to db
     * @param lat
     * @param lng
     * @param address
     */
    function addLocation(lat, lng, address) {
        var request = new XMLHttpRequest();
        // Variables which need to be sent to PHP
        var vars = "lat=" + lat + "&lng=" + lng + "&address=" + address;
        request.open("POST", "/travel/travel/Source%20Files/src/DirectCall/setLocationData.php", true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // Access the onreadystatechange event for the XMLHttpRequest object
        request.onreadystatechange = function () {
            console.log(request);

            if (request.readyState == 4 && request.status == 200) {
                var return_data = request.responseText;
                document.getElementById("status").innerHTML = return_data;
            }
        }
        // Send the data to PHP
        request.send(vars);
    }
</script>
</body>
</html>