<div>
    <h2>Sign up</h2>
    <form action="{{rootpath}}Source Files/src/controller/SignUpController.php" method="post">
        <!-- check if username is already taken -->
        <p id="error"></p>
        <label for="username">Username: </label>
            <input type="text" id="username">

        <label for="password">Password: </label>
            <input type="password" id="password" required>

        <label for="password_confirm">Repeat password: </label>
            <input type="password" id="password_confirm" oninput="check(this)"  required>

        <input type="button" value="Sign up" onclick="signup()">
    </form>
</div>
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>