<div>
    <h2>Sign up</h2>
    <form action="?controller=SignUp&action=registerAction" method="POST">
        <!-- check if username is already taken -->
        <p id="error"></p>
        <label for="username">Username: </label>
            <input name="username" type="text" id="username">

        <label for="password">Password: </label>
            <input name="password" type="password" id="password" required>

        <label for="password_confirm">Repeat password: </label>
            <input name="password2" type="password" id="password_confirm" oninput="check(this)"  required>

        <input type="submit" value="Sign up" > <!-- type="button" onclick="signup()" -->
    </form>
</div>
<p id="errors">{{error}}</p>
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');            
        }
    }
</script>