<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <script src="js/dummy.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                {{header}}
            </header>
        
            <nav>
                {{nav}}
            </nav>

            <section>
                {{pageContent}}
            </section>
            
            <footer>
                {{footer}}
            </footer>
        </div>
    </body>
</html>
