<!DOCTYPE html>
        <html>
        <head>
            <title>{{pageTitle}}</title>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="{{goToResource}}css/style.css" type="text/css">
            <link rel="stylesheet" href="{{goToResource}}css/styleLogin.css" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
            <script src="{{goToResource}}js/scriptLogin.js"></script>
        </head>
<body>
<div id="wrapper">
    <header>
        <h1>Travelling I</h1>
    </header>

    <section>
        {{pageContent}}
    </section>
</div>
</body>
</html>
