<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{goToResource}}css\style.css" type="text/css">
        <script src="{{goToResource}}js\dummy.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Travelling {{username}}</h1>
            </header>
        
            <nav>
                <a href="index.php">Home</a> <!-- Map (hier auch den Blogeintrag anzeigen)-->
                <a href="index.php">Blog</a>
                <a href="index.php">{{username}}</a>
                <nav class="subNav">
                    <a href="index.php">Settings</a>
                    <a href="?controller=Logout&action=logoutAction">Logout</a>
                </nav>
            </nav>

            <section>
                {{pageContent}}
            </section>
        </div>
    </body>
</html>

